What is String in Python?

A string is a sequence of characters.

A character is simply a symbol. For example, the English language has 26 characters.

Computers do not deal with characters, they deal with numbers (binary). Even though you may see characters on your screen, internally it is stored and manipulated as a combination of 0s and 1s.

This conversion of character to a number is called encoding, and the reverse process is decoding. ASCII and Unicode are some of the popular encodings used.

In [ ]:
How to create a string in Python?


Strings can be created by enclosing characters inside a single 
quote or double-quotes. Even triple quotes can be used in Python but 
generally used to represent multiline strings and docstrings.

In [1]:
my_string = 'Hello'
print(my_string)

Hello

In [2]:
my_string = "Hello"
print(my_string)

Hello

In [3]:
my_string = '''Hello'''
print(my_string)

Hello

In [6]:
s1 = """Hi my name is
    Nandesh"""

In [5]:
s1 = "Hi my name is
    Nandesh"

SyntaxError: EOL while scanning string literal (Temp/ipykernel_2080/3607448345.py, line 1)

In [7]:
s2 ='''Hi my name is
    Nandesh'''

In [8]:
print(s2)

Hi my name is
    Nandesh

In [ ]:
How to access characters in a string?

We can access individual characters using indexing and a 
range of characters using slicing. Index starts from 0. 
Trying to access a character out of index range will raise an 
IndexError. The index must be an integer. 
We can't use floats or other types, this will result into TypeError.

Python allows negative indexing for its sequences.

The index of -1 refers to the last item, -2 to the second last 
item and so on. We can access a range of items in a string by 
using the slicing operator :(colon).

In [9]:
a1 = "Programming"

In [10]:
print("str = ",a1)

str =  Programming

In [11]:
print(a1[0])

P

In [12]:
print(a1[-1])

g

In [13]:
print(a1[0:3])

Pro

In [14]:
len(a1)

11

In [15]:
a1[12]

IndexError: string index out of range

In [16]:
a1[1.0]

TypeError: string indices must be integers

In [ ]:
How to change or delete a string?

Strings are immutable. This means that elements of a string cannot be 
changed once they have been assigned. 
We can simply reassign different strings to the same name.

In [17]:
s1 = "Programming"

In [18]:
s1[5]="y"

TypeError: 'str' object does not support item assignment

In [19]:
s1 = "Python"

In [20]:
s1

'Python'

In [ ]:
We cannot delete or remove characters from a string. 
But deleting the string entirely is possible using the del keyword.

In [22]:
# del s1[0]

In [23]:
del s1

In [25]:
# s1

In [ ]:
Python String Operations

There are many operations that can be performed with strings 
which makes it one of the most used data types in Python.

In [ ]:
Concatenation of Two or More Strings
Joining of two or more strings into a single one is called concatenation.

The + operator does this in Python. Simply writing two string literals together 
also concatenates them.

The * operator can be used to repeat the string for a given number of times.

In [27]:
# Python String Operations
str1 = 'Hello '
str2 ='World!'

# using +
print('str1 + str2 = ', str1 + str2)

# using *
print('str1 * 3 =', str1 * 3)

str1 + str2 =  Hello World!
str1 * 3 = Hello Hello Hello

In [28]:
'Hello ''World!'

'Hello World!'

In [29]:
s = ('Hello '
      'World')

In [30]:
print(s)

Hello World

In [ ]:
Iterating Through a string

We can iterate through a string using a for loop. 
Here is an example to count the number of 'l's in a string.

In [31]:
# Iterating through a string
count = 0
for letter in 'Hello World':
    if(letter == 'l'):
        count += 1
print(count,'letters found')

3 letters found

In [35]:
count = 0
s = "Hello World"
for letter in range(len(s)):
    if(s[letter] == 'l'):
        count += 1
print(count,'letters found')

3 letters found

In [37]:
"z" in "program"

False

In [ ]:
Built-in functions to Work with Python
Various built-in functions that work with sequence work with strings as well.

Some of the commonly used ones are enumerate() and len(). The enumerate() 
function returns an enumerate object. It contains the index and value of all 
the items in the string as pairs. This can be useful for iteration.

Similarly, len() returns the length (number of characters) of the string.

In [39]:
s1 = "Python"

for i in range(len(s1)):
    print(i,s1[i])

0 P
1 y
2 t
3 h
4 o
5 n

In [40]:
for i,j in enumerate(s1):
    print(i,j)

0 P
1 y
2 t
3 h
4 o
5 n

In [44]:
print("He said, \"What's there?\"")

He said, "What's there?"

In [43]:
print('He said, "What\'s there?"')

He said, "What's there?"

In [45]:
print('''He said, "What's there?"''')

He said, "What's there?"

In [47]:
print("""He said, "What's there?" """)

He said, "What's there?"

In [48]:
 print("C:\\Python32\\Lib")

C:\Python32\Lib

In [50]:
print("This is printed\nin two lines")

This is printed
in two lines

In [52]:
print("This is \x41\x45\x58 representation")

This is AEX representation

In [53]:
print("This is \x61 \ngood example")

This is a
good example

In [54]:
print(r"This is \x61 \ngood example")

This is \x61 \ngood example

In [ ]:
The format() Method for Formatting Strings

The format() method that is available with the string object is 
very versatile and powerful in formatting strings. 
Format strings contain curly braces {} as placeholders or replacement fields which get replaced.

We can use positional arguments or keyword arguments to specify the order.

In [55]:
# Python string format() method

# default(implicit) order
default_order = "{}, {} and {}".format('John','Bill','Sean')
print('\n--- Default Order ---')
print(default_order)

# order using positional argument
positional_order = "{1}, {0} and {2}".format('John','Bill','Sean')
print('\n--- Positional Order ---')
print(positional_order)

# order using keyword argument
keyword_order = "{s}, {b} and {j}".format(j='John',b='Bill',s='Sean')
print('\n--- Keyword Order ---')
print(keyword_order)

--- Default Order ---
John, Bill and Sean

--- Positional Order ---
Bill, John and Sean

--- Keyword Order ---
Sean, Bill and John

In [63]:
ply = "Virat"
scr = 45
print("Virat has scored 45 runs in the last match")

Virat has scored 45 runs in the last match

In [64]:
print(ply," Has scored ",scr," runs in the last match ")

Virat  Has scored  45  runs in the last match

In [66]:
print(ply+" Has scored "+str(scr)+" runs in the last match ")

Virat Has scored 45 runs in the last match

In [73]:
ply = "Rohit"
scr = 56
print("{} has scored {} runs in the last match".format(ply,scr))

Rohit has scored 56 runs in the last match

In [ ]:
The format() method can have optional format specifications. 
They are separated from the field name using colon. 
For example, we can left-justify <, right-justify > or center ^ a string in the given space.

We can also format integers as binary, hexadecimal, etc. 
and floats can be rounded or displayed in the exponent format. 
There are tons of formatting you can use.

In [79]:
"{0:b}".format(12)

'1100'

In [76]:
bin(12)

'0b1100'

In [77]:
oct(12)

'0o14'

In [78]:
hex(12)

'0xc'

In [60]:
"Exponent representation: {0:e}".format(1566.345)

'Exponent representation: 1.566345e+03'

In [74]:
print("One third is: {0:.3f}".format(1/3))

One third is: 0.333

In [80]:
"|{:<10}|{:^10}|{:>10}|".format('butter','bread','ham')

'|butter    |  bread   |       ham|'

In [81]:
"PrOgRaMiZ".lower()

'programiz'

In [82]:
"PrOgRaMiZ".upper()

'PROGRAMIZ'

In [88]:
a1 = "Hi"

In [89]:
a2 =a1.upper()

In [85]:
a1 = "                Hi"

In [90]:
print(a2)

HI

In [91]:
print(a1)

Hi

In [98]:
"This will split all words into a list".split()

['This', 'will', 'split', 'all', 'words', 'into', 'a', 'list']

In [93]:
['This', 'will', 'split', 'all', 'words', 'into', 'a', 'list']

['This', 'will', 'split', 'all', 'words', 'into', 'a', 'list']

In [94]:
' '.join(['This', 'will', 'join', 'all', 'words', 'into', 'a', 'string'])

'This will join all words into a string'

In [99]:
'Happy New Year'.find('ew')

7

In [100]:
'Happy New Year'.replace('Happy','Brilliant')

'Brilliant New Year'

In [101]:
pwd

'C:\\Users\\USER\\Python Class'

In [2]:
Python List

In [ ]:
How to create a list?


In Python programming, a list is created by placing all the items (elements) inside square brackets [], 
separated by commas.

It can have any number of items and they may be of different types (integer, float, string etc.).

In [3]:
# empty list
my_list = []

# list of integers
my_list = [1, 2, 3]

# list with mixed data types
my_list = [1, "Hello", 3.4]

In [ ]:
A list can also have another list as an item. This is called a nested list.

In [5]:
# nested list
my_list = ["mouse", [8, 4, 6], ['a'],[1, "Hello", 3.4]]

In [7]:
my_list

['mouse', [8, 4, 6], ['a'], [1, 'Hello', 3.4]]

In [ ]:
Access List Elements

There are various ways in which we can access the elements of a list.

In [ ]:
List Index

We can use the index operator [] to access an item in a list. In Python, indices start at 0. 
So, a list having 5 elements will have an index from 0 to 4.

Trying to access indexes other than these will raise an IndexError. 
The index must be an integer. We can't use float or other types, this will result in TypeError.

Nested lists are accessed using nested indexing.

In [8]:
# List indexing

my_list = ['p', 'r', 'o', 'b', 'e']

print(my_list[0])  # p

print(my_list[2])  # o

print(my_list[4]) # e

# Nested List
n_list = ["Happy", [2, 0, 1, 5]]

# Nested indexing
print(n_list[0][1])

print(n_list[1][3])

# Error! Only integer can be used for indexing
print(my_list[4.0])

p
o
e
a
5

TypeError: list indices must be integers or slices, not float

In [ ]:
Negative indexing

Python allows negative indexing for its sequences. 
The index of -1 refers to the last item, -2 to the second last item and so on.

In [9]:
# Negative indexing in lists
my_list = ['p','r','o','b','e']

print(my_list[-1])

print(my_list[-5])

e
p

In [ ]:
How to slice lists in Python?

We can access a range of items in a list by using the slicing operator :(colon).

In [15]:
# List slicing in Python

my_list = ['p','r','o','g','r','a','m','i','z']

# includes element at index 2, 3, 4
# excludes element at index 5
print(my_list[2:5])

# elements beginning to 4th
print(my_list[-1:-5:-1])

# # elements 6th to end
print(my_list[5:])

# # elements beginning to end
print(my_list[:])

['o', 'g', 'r']
['z', 'i', 'm', 'a']
['a', 'm', 'i', 'z']
['p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z']

In [ ]:
Add/Change List Elements
Lists are mutable, meaning their elements can be 
changed unlike string or tuple.

We can use the assignment operator = to change an item or a range of items.

In [18]:
# Correcting mistake values in a list
odd = [2, 4, 6, 8]

# change the 1st item    
odd[0] = 1            

print(odd)

# change 2nd to 4th items
odd[1:4] = [3, 5, 7]  

print(odd)

[1, 4, 6, 8]
[1, 3, 5, 7]

In [ ]:
We can add one item to a list using the append() method or 
add several items using extend() method.

In [20]:
# Appending and Extending lists in Python
odd = [1, 3, 5]

odd.append(7)

print(odd)

odd.append([9, 11, 13])

print(odd)

[1, 3, 5, 7]
[1, 3, 5, 7, [9, 11, 13]]

In [ ]:
We can also use + operator to combine two lists. 
This is also called concatenation.

The * operator repeats a list for the given number of times.

In [21]:
# Concatenating and repeating lists
odd = [1, 3, 5]

print(odd + [9, 7, 5])

print(["re"] * 3)

[1, 3, 5, 9, 7, 5]
['re', 're', 're']

In [ ]:
Furthermore, we can insert one item at a 
desired location by using the method insert() or insert multiple items by 
squeezing it into an empty slice of a list.

In [23]:
# Demonstration of list insert() method
odd = [1, 9]
odd.insert(1,3)

print(odd)

odd[2:2] = [5, 7]

print(odd)

[1, 3, 9]
[1, 3, 5, 7, 9]

In [ ]:
Delete/Remove List Elements

We can delete one or more items from a list using the keyword del.
It can even delete the list entirely.

In [28]:
# Deleting list items
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

# delete one item
del my_list[2]

print(my_list)

# delete multiple items
del my_list[1:5]

print(my_list)

# # delete entire list
del my_list

# # Error: List not defined
print(my_list)

['p', 'r', 'b', 'l', 'e', 'm']
['p', 'm']

NameError: name 'my_list' is not defined

In [ ]:
We can use remove() method to remove the given item or pop() method to 
remove an item at the given index.

The pop() method removes and returns the last item if the index is not provided. This helps us implement lists as stacks (first in, last out data structure).

We can also use the clear() method to empty a list.

In [29]:
my_list = ['p','r','o','b','l','e','m']
my_list.remove('p')

# Output: ['r', 'o', 'b', 'l', 'e', 'm']
print(my_list)

# Output: 'o'
print(my_list.pop(1))

# Output: ['r', 'b', 'l', 'e', 'm']
print(my_list)

# Output: 'm'
print(my_list.pop())

# Output: ['r', 'b', 'l', 'e']
print(my_list)

my_list.clear()

# Output: []
print(my_list)

['r', 'o', 'b', 'l', 'e', 'm']
o
['r', 'b', 'l', 'e', 'm']
m
['r', 'b', 'l', 'e']
[]

In [44]:
n1 = [10,20,30,40]

In [45]:
n2 = n1

In [46]:
id(n1)

3041633380864

In [47]:
id(n2)

3041633380864

In [33]:
n2

[10, 20, 30, 40]

In [34]:
n1

[10, 20, 30, 40]

In [35]:
n2.pop()

40

In [36]:
n2

[10, 20, 30]

In [37]:
n1

[10, 20, 30]

In [39]:
n2 = n1.copy()

In [40]:
n2

[10, 20, 30, 40]

In [41]:
n1

[10, 20, 30, 40]

In [42]:
n1.pop()

40

In [43]:
n2

[10, 20, 30, 40]

In [48]:
# Python list methods
my_list = [3, 8, 1, 6, 0, 8, 4]

# Output: 1
print(my_list.index(8))

# Output: 2
print(my_list.count(8))

my_list.sort()

# Output: [0, 1, 3, 4, 6, 8, 8]
print(my_list)

my_list.reverse()

# Output: [8, 8, 6, 4, 3, 1, 0]
print(my_list)

1
2
[0, 1, 3, 4, 6, 8, 8]
[8, 8, 6, 4, 3, 1, 0]

In [52]:
pow2 = [2 ** x for x in range(10)]
print(pow2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [56]:
p = []

for i in range(10):
    x=2**i
    p.append(x)
print(p)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [61]:
p = [2**i for i in range(10)]

In [62]:
print(p)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [60]:
p = []

for i in range(10):p.append(2**i)

In [64]:
p1 = []

for i in range(1,21):
    if i%2==0:
        p1.append(i**2)
        
print(p1)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [65]:
p2 = [i**2 for i in range(1,21) if i%2==0]

In [66]:
p2

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [72]:
p1 = []

for i in range(1,11):
    p1.append(i**2)
p2 = []
for i in p1:
    p2.append(i**2)
print(p2)

[1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [74]:
[i**2 for i in [i**2 for i in range(1,11)]]

[1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [68]:
p1

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [70]:
for i in p1:
    print(i)

1
4
9
16
25
36
49
64
81
100

In [59]:
print(p)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [ ]:
Other List Operations in Python
List Membership Test
We can test if an item exists in a list or not, using the keyword in.

In [77]:
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

# Output: True
print('p' in my_list)

# Output: False
print('a' in my_list)

# Output: True
print('c' not in my_list)

True
False
True

In [ ]:
Iterating Through a List
Using a for loop we can iterate through each item in a list.

In [78]:
for fruit in ['apple','banana','mango']:
    print("I like",fruit)

I like apple
I like banana
I like mango